.board {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    background: red;
    width: 500px;
    height: 500px;
}
.board>div {
    background: gray;
    width: 100%;
    height: 100%;
    border:  2px solid black;
}
#board-container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 60vh;
}
.ship-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ship{
    display: flex;
    flex-direction: column;
}
.ship-body {
    height: calc(500px / 8);
    width: calc(500px / 8);
    background: red;
}
body {
    margin: 0;
}